<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<!-- 通用頁腳——黏性 -->
<style th:fragment="footer_css">

    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }

</style>

<!-- 頁腳 -->
<div th:fragment="footer_layout">
    <div class="container  ">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">页脚内容</h5>
                <!--  <p class="grey-text text-lighten-4">你可以用行和列来组织你的页脚内容。</p>-->
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 Copyright Fairy-Tail
            <!--<a class="grey-text text-lighten-4 right" href="#!">更多链接</a>-->
        </div>
    </div>
</div>

<!-- 框架支持js -->
<div th:fragment="ImportJS">
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</div>
</html>