<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Yippee | 详情</title>
    <!--Import Google Icon Font   http://fonts.useso.com/-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--引入网页logo-->
    <link rel="icon" type="image/x-icon" href="/img/logo/logo.png">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- 黏性頁腳支持 -->
    <style type="text/css" th:include="layout/indexLayout::footer_css"></style>
    <style type="text/css">
        .head_image {
            border-radius: 18px;
        }

        body {
            background-color: #f3f3f3;
        }
    </style>
</head>
<body>
<!-- 页头 -->
<header th:include="layout/indexLayout::head_layout"></header>
<main>　<br><br>
    <div class="container">
        <!--//https://i.pximg.net/c/600x600/img-master/img/2013/03/25/12/44/18/34512986_p0_master1200.jpg-->
        <div class="row">
        </div>
        <div class="row z-depth-1 #fafafa grey lighten-5 ">
            <div class=" col s6  ">
                <img class="materialboxed responsive-img" style="padding: 0px;margin: 10px"
                     src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1495709299&di=fb7e6248a1c581dbfe124a81b3a9c917&imgtype=jpg&er=1&src=http%3A%2F%2Fandroid-wallpapers.25pp.com%2Ffs01%2F2015%2F05%2F04%2F4%2F2000_3ce082e1bed13b2ab5d6732fbd6bfbfa_900x675.jpg">
            </div>
            <div class=" col s5 offset-s1  ">
                <div class="row">
                    <div class="col s7 ">
                        <blockquote><h5 class="#eeeeee grey-text lighten-3">作品名称</h5></blockquote>
                    </div>
                </div>
                <div class="row">
                    <div class="col s2  ">
                        <img class=" responsive-img head_image "
                             src="http://tvax4.sinaimg.cn/crop.0.0.639.639.180/63711574ly8ff7bf0jam0j20hs0hr74w.jpg">
                    </div>
                    <br>
                    <div class="   col s7 ">
                        <label>画师ID</label> &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                        <label> dsadasdadasdsadsadsadsad</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s11 ">
                        作品编号：.....　
                    </div>
                </div>
                <!-- 价格块 -->
                <div class="row">
                    <div class="col s12">
                        <ul class="collection ">
                            <li class="collection-item">
                                <span class="badge hoverable" data-badge-caption="￥">20</span>报价:
                            </li>
                            <li class="collection-item"><span class="new badge blue hoverable"
                                                              data-badge-caption="￥">20</span>当前:
                            </li>
                            <li class="collection-item"><span class="badge hoverable" data-badge-caption="次">20</span>已提价:
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col s7">
                        <a class="waves-effect waves-light btn">
                            <i class="material-icons right">language</i>购买/下载
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--想买的人-->
        <div class="row ">
            <div class="col s7  z-depth-1 #fafafa grey lighten-5 ">评论
                <br>
                <br>
                <br>
                <br>
                <br> <br>
                <br>
                <br>
                <br>
                <br> <br>
                <br>
                <br>
                <br>
                <br> <br>
                <br>
                <br>
                <br>
                <br>
            </div>
            <div class="col s4 offset-s1   z-depth-1 #fafafa grey lighten-5 " ">
                <img class="head_image col s1"
                     src="http://tvax4.sinaimg.cn/crop.0.0.639.639.180/63711574ly8ff7bf0jam0j20hs0hr74w.jpg">
                <img class="head_image col s1"
                     src="http://tvax4.sinaimg.cn/crop.0.0.639.639.180/63711574ly8ff7bf0jam0j20hs0hr74w.jpg">
                <img class="head_image col s1"
                     src="http://tvax4.sinaimg.cn/crop.0.0.639.639.180/63711574ly8ff7bf0jam0j20hs0hr74w.jpg">
                <img class="head_image col s1"
                     src="http://tvax4.sinaimg.cn/crop.0.0.639.639.180/63711574ly8ff7bf0jam0j20hs0hr74w.jpg">
                <img class="head_image col s1"
                     src="http://tvax4.sinaimg.cn/crop.0.0.639.639.180/63711574ly8ff7bf0jam0j20hs0hr74w.jpg">
                <img class="head_image col s1"
                     src="http://tvax4.sinaimg.cn/crop.0.0.639.639.180/63711574ly8ff7bf0jam0j20hs0hr74w.jpg">
                <img class="head_image col s1"
                     src="http://tvax4.sinaimg.cn/crop.0.0.639.639.180/63711574ly8ff7bf0jam0j20hs0hr74w.jpg">
                <img class="head_image col s1"
                     src="http://tvax4.sinaimg.cn/crop.0.0.639.639.180/63711574ly8ff7bf0jam0j20hs0hr74w.jpg">
                <div class=" col s1 offset-s1">
                    <br>
                    <a>查看更多</a>
                </div>
                　
            </div>
        </div>
        <!--发布评论-->
        <div class="row ">
            <div class="col s7 #3949ab indigo darken-1">
                <div class="row">
                    <div class="col s12 ">
                        <div class="row">
                            <div class="col s12">
                                <h5 class="#ffffff white-text">评论</h5>
                                <span class="#ffffff white-text">随便说点什么吧</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col s12">
                                <input placeholder="留下点评论怎么样" type="text" class="validate #ffffff white-text">
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col s6 offset-s3">
                                <a class="waves-effect waves-teal btn-flat #ffffff white-text">按钮</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- 通用頁腳  -->
<footer class="page-footer #00b0ff light-blue accent-3" th:include="layout/indexLayout::footer_layout"></footer>

<!-- 框架支持 -->
<div th:replace="layout/indexLayout::ImportJS"></div>
</body>
</html>