<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.akina.mapper.TalkInfoMapper" >
  <resultMap id="BaseResultMap" type="com.akina.bean.TalkInfo" >
    <id column="talk_info_id" property="talkInfoId" jdbcType="INTEGER" />
    <result column="talk_info" property="talkInfo" jdbcType="VARCHAR" />
    <result column="talk_id" property="talkId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="read_flag" property="readFlag" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    talk_info_id, talk_info, talk_id, user_id, read_flag, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from talk_info
    where talk_info_id = #{talkInfoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from talk_info
    where talk_info_id = #{talkInfoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.akina.bean.TalkInfo" >
    insert into talk_info (talk_info_id, talk_info, talk_id, 
      user_id, read_flag, create_time
      )
    values (#{talkInfoId,jdbcType=INTEGER}, #{talkInfo,jdbcType=VARCHAR}, #{talkId,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{readFlag,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.akina.bean.TalkInfo" >
    insert into talk_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="talkInfoId != null" >
        talk_info_id,
      </if>
      <if test="talkInfo != null" >
        talk_info,
      </if>
      <if test="talkId != null" >
        talk_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="readFlag != null" >
        read_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="talkInfoId != null" >
        #{talkInfoId,jdbcType=INTEGER},
      </if>
      <if test="talkInfo != null" >
        #{talkInfo,jdbcType=VARCHAR},
      </if>
      <if test="talkId != null" >
        #{talkId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="readFlag != null" >
        #{readFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.akina.bean.TalkInfo" >
    update talk_info
    <set >
      <if test="talkInfo != null" >
        talk_info = #{talkInfo,jdbcType=VARCHAR},
      </if>
      <if test="talkId != null" >
        talk_id = #{talkId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="readFlag != null" >
        read_flag = #{readFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where talk_info_id = #{talkInfoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.akina.bean.TalkInfo" >
    update talk_info
    set talk_info = #{talkInfo,jdbcType=VARCHAR},
      talk_id = #{talkId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      read_flag = #{readFlag,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where talk_info_id = #{talkInfoId,jdbcType=INTEGER}
  </update>
</mapper>