<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.akina.mapper.TalkMapper">
    <resultMap id="BaseResultMap" type="com.akina.bean.Talk">
        <id column="talk_id" property="talkId" jdbcType="INTEGER"/>
        <result column="send_user_id" property="sendUserId" jdbcType="INTEGER"/>
        <result column="receive_user_id" property="receiveUserId" jdbcType="INTEGER"/>
        <result column="unread_number" property="unreadNumber" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from talk
    where talk_id = #{talkId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.akina.bean.Talk">
    insert into talk (talk_id, send_user_id, receive_user_id, 
      unread_number, create_time)
    values (#{talkId,jdbcType=INTEGER}, #{sendUserId,jdbcType=INTEGER}, #{receiveUserId,jdbcType=INTEGER}, 
      #{unreadNumber,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.akina.bean.Talk">
    update talk
    set send_user_id = #{sendUserId,jdbcType=INTEGER},
      receive_user_id = #{receiveUserId,jdbcType=INTEGER},
      unread_number = #{unreadNumber,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where talk_id = #{talkId,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select talk_id, send_user_id, receive_user_id, unread_number, create_time
    from talk
    where talk_id = #{talkId,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select talk_id, send_user_id, receive_user_id, unread_number, create_time
    from talk
  </select>

    <!--===============================================================================-->
    <!--定义包含用户的返回集合-->
    <resultMap extends="BaseResultMap" type="com.akina.bean.Talk" id="includeUser">
        <!--包含发送用户-->
        <association property="sendUser" column="send_user_id" select="com.akina.mapper.UserMapper.selectByPrimaryKey"/>
        <!--包含发送用户-->
        <association property="receiveUser" column="receive_user_id" select="com.akina.mapper.UserMapper.selectByPrimaryKey"/>
    </resultMap>
</mapper>