<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.akina.mapper.UserLikeMapper">
    <resultMap id="BaseResultMap" type="com.akina.bean.UserLike">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="pic_id" property="picId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_like
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.akina.bean.UserLike">
    insert into user_like (id, user_id, pic_id, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{picId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.akina.bean.UserLike">
    update user_like
    set user_id = #{userId,jdbcType=INTEGER},
      pic_id = #{picId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select id, user_id, pic_id, create_time
    from user_like
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, pic_id, create_time
    from user_like
  </select>
    <!--===============================================================================-->
    <!--定义包含用户和图片的返回集合-->
    <resultMap extends="BaseResultMap" type="com.akina.bean.UserLike" id="includeUserAndPic">
        <!--包含用户-->
        <association property="user" column="user_id" select="com.akina.mapper.UserMapper.selectByPrimaryKey"/>
        <!--包含图片-->
        <association property="pic" column="pic_id" select="com.akina.mapper.PictureMapper.selectByPrimaryKey"/>
    </resultMap>
</mapper>