<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Yippee | 个人中心</title>
    <!--Import Google Icon Font   http://fonts.useso.com/-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--引入网页logo-->
    <link rel="icon" type="image/x-icon" href="/img/logo/logo.png">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- 黏性頁腳支持 -->
    <style type="text/css" th:include="layout/indexLayout::footer_css"></style>
    <style type="text/css">
        .light-blue.accent-2 {
            background-color: #c5c5c5 !important;
        }
    </style>
</head>
<body>
<!-- 页头 -->
<header th:include="layout/indexLayout::head_layout"></header>
<div class="#40c4ff light-blue accent-2" id="head_menu" style="margin-top: 50px;min-width: 1200px">
    <div class="container">
        <div class="row">
            <img class="col s1 sys_head" src="/img/logo/login_logo.png">
            <div class="col s1 "></div>
        </div>
    </div>
</div>
<main>
    　
    <br>
    <br>
    <div class="container">
        <div class="row">

            <div class="col s12 m4 l3">
                <ul class="section table-of-contents">
                    <li><a>pic</a></li>
                    <li><a>私信</a></li>
                    <li><a>投稿</a></li>
                </ul>
            </div>

            <div class="col s12 m8 l9">
                <div   id="masonry" class=" container-fluid">
                    <div class="row">
                        <!--http://www.materializecss.cn/images/nature/lorempixel8.jpg-->
                        <!--http://www.materializecss.cn/images/office.jpg-->

                        <!--卡片结构-->
                        <div class="col s3 box">
                            <div class="card  " onclick="alert_details(1)">
                                <div class="card-image">
                                    <img onclick="alert(1)" src="http://www.materializecss.cn/images/office.jpg">
                                    <span class="card-title card_name">名字</span>
                                </div>
                            </div>
                        </div>
                        <!--卡片结构-->
                        <!--示例数据========================================================-->

                        <!--卡片结构-->
                        <div class="col s3 box">
                            <div class="card  " onclick="alert_details(1)">
                                <div class="card-image">
                                    <img src="http://www.materializecss.cn/images/nature/lorempixel8.jpg">
                                    <span class="card-title card_name">名字</span>
                                </div>
                            </div>
                        </div>
                        <!--卡片结构-->
                        <!--卡片结构-->
                        <div class="col s3 box">
                            <div class="card  " onclick="alert_details(1)">
                                <div class="card-image">
                                    <img src="http://www.materializecss.cn/images/office.jpg">
                                    <span class="card-title card_name">名字</span>
                                </div>
                            </div>
                        </div>
                        <!--卡片结构-->

                        <!--卡片结构-->
                        <div class="col s3 box">
                            <div class="card  " onclick="alert_details(1)">
                                <div class="card-image">
                                    <img src="http://www.materializecss.cn/images/nature/lorempixel8.jpg">
                                    <span class="card-title card_name">名字</span>
                                </div>
                            </div>
                        </div>
                        <!--卡片结构-->
                        <!--卡片结构-->
                        <div class="col s3 box">
                            <div class="card  " onclick="alert_details(1)">
                                <div class="card-image">
                                    <img src="http://www.materializecss.cn/images/office.jpg">
                                    <span class="card-title card_name">名字</span>
                                </div>
                            </div>
                        </div>
                        <!--卡片结构-->

                        <!--卡片结构-->
                        <div class="col s3 box">
                            <div class="card  " onclick="alert_details(1)">
                                <div class="card-image">
                                    <img src="http://www.materializecss.cn/images/nature/lorempixel8.jpg">
                                    <span class="card-title card_name">名字</span>
                                </div>
                            </div>
                        </div>
                        <!--卡片结构-->
                        <!--卡片结构-->
                        <div class="col s3 box">
                            <div class="card  " onclick="alert_details(1)">
                                <div class="card-image">
                                    <img src="http://www.materializecss.cn/images/office.jpg">
                                    <span class="card-title card_name">名字</span>
                                </div>
                            </div>
                        </div>
                        <!--卡片结构-->

                        <!--卡片结构-->
                        <div class="col s3 box">
                            <div class="card  " onclick="alert_details(1)">
                                <div class="card-image">
                                    <img src="http://www.materializecss.cn/images/nature/lorempixel8.jpg">
                                    <span class="card-title card_name">名字</span>
                                </div>
                            </div>
                        </div>
                        <!--卡片结构-->
                        <!--卡片结构-->
                        <div class="col s3 box">
                            <div class="card  " onclick="alert_details(1)">
                                <div class="card-image">
                                    <img src="http://www.materializecss.cn/images/office.jpg">
                                    <span class="card-title card_name">名字</span>
                                </div>
                            </div>
                        </div>
                        <!--卡片结构-->


                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
<!-- 通用頁腳  -->
<footer style="min-width: 1200px" class="page-footer #00b0ff light-blue accent-3"
        th:include="layout/indexLayout::footer_layout"></footer>
<!-- 框架支持 -->
<div th:replace="layout/indexLayout::ImportJS"></div>
<script type="text/javascript" src="/js/masonry/masonry.min.js"></script>
<script type="text/javascript" src="/js/user/user_cente.js"></script>
</body>
</html>