<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Yippee | 对话详情</title>
    <!--Import Google Icon Font   http://fonts.useso.com/-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--引入网页logo-->
    <link rel="icon" type="image/x-icon" href="/img/logo/logo.png">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- 黏性頁腳支持 -->
    <style type="text/css" th:include="layout/indexLayout::footer_css"></style>
    <style type="text/css">
        .light-blue.accent-2 {
            background-color: #c5c5c5 !important;
        }
    </style>
</head>
<body>
<!-- 页头 -->
<header th:include="layout/indexLayout::head_layout"></header>
<div class="#40c4ff light-blue accent-2" id="head_menu" style="margin-top: 50px;min-width: 1200px">
    <div class="container">
        <div class="row">
            <img class="col s1 sys_head" src="https://pic3.zhimg.com/v2-bc784912789de2dd3f9d9b02324b95b2_xl.jpg">
            <div class="col s4 sys_head ">
                简介简介简介简介简介简介简介简介简介简介
            </div>
        </div>
    </div>
</div>
<main>
    　
    <br>
    <br>
    <div class="container">
        <div class="row">

            <div class="col s12 m4 l3">
                <ul class="section table-of-contents">
                    <li><a>pic</a></li>
                    <li><a>私信</a></li>
                    <li><a>投稿</a></li>
                </ul>
            </div>

            <div class="col s12 m8 l9">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="textarea1" class="materialize-textarea"></textarea>
                                <label for="textarea1">发送给：对象姓名</label>
                            </div>
                            <a class="waves-effect waves-teal btn-flat">发送</a>
                        </div>
                    </form>
                </div>

                <div class="row">
                    <div class="divider"></div>
                    <div class="section ">
                        <div class="row">
                            <img class="col s1"
                                 src="https://pic3.zhimg.com/v2-bc784912789de2dd3f9d9b02324b95b2_xl.jpg" alt="">
                            <div class="col s10">
                                <a>用户姓名</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="#eeeeee grey-text lighten-3">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</span>
                                <div style="margin-top: 20px" class="#eeeeee grey-text lighten-3">1995-04-02 13:11
                                    <span class="badge  #536dfe indigo-text accent-2">删除</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="divider"></div>
                    <div class="section ">
                        <div class="row">
                            <img class="col s1"
                                 src="https://pic3.zhimg.com/v2-bc784912789de2dd3f9d9b02324b95b2_xl.jpg" alt="">
                            <div class="col s10">
                                <a>用户姓名</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="#eeeeee grey-text lighten-3">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</span>
                                <div style="margin-top: 20px" class="#eeeeee grey-text lighten-3">1995-04-02 13:11
                                    <span class="badge  #536dfe indigo-text accent-2">删除</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="section ">
                        <div class="row">
                            <img class="col s1"
                                 src="https://pic3.zhimg.com/v2-bc784912789de2dd3f9d9b02324b95b2_xl.jpg" alt="">
                            <div class="col s10">
                                <a>用户姓名</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="#eeeeee grey-text lighten-3">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</span>
                                <div style="margin-top: 20px" class="#eeeeee grey-text lighten-3">1995-04-02 13:11
                                    <span class="badge  #536dfe indigo-text accent-2">删除</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="section ">
                        <div class="row">
                            <img class="col s1"
                                 src="https://pic3.zhimg.com/v2-bc784912789de2dd3f9d9b02324b95b2_xl.jpg" alt="">
                            <div class="col s10">
                                <a>用户姓名</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="#eeeeee grey-text lighten-3">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</span>
                                <div style="margin-top: 20px" class="#eeeeee grey-text lighten-3">1995-04-02 13:11
                                    <span class="badge  #536dfe indigo-text accent-2">删除</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="section ">
                        <div class="row">
                            <img class="col s1"
                                 src="https://pic3.zhimg.com/v2-bc784912789de2dd3f9d9b02324b95b2_xl.jpg" alt="">
                            <div class="col s10">
                                <a>用户姓名</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="#eeeeee grey-text lighten-3">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</span>
                                <div style="margin-top: 20px" class="#eeeeee grey-text lighten-3">1995-04-02 13:11
                                    <span class="badge  #536dfe indigo-text accent-2">删除</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="section ">
                        <div class="row">
                            <img class="col s1"
                                 src="https://pic3.zhimg.com/v2-bc784912789de2dd3f9d9b02324b95b2_xl.jpg" alt="">
                            <div class="col s10">
                                <a>用户姓名</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="#eeeeee grey-text lighten-3">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</span>
                                <div style="margin-top: 20px" class="#eeeeee grey-text lighten-3">1995-04-02 13:11
                                    <span class="badge  #536dfe indigo-text accent-2">删除</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="section ">
                        <div class="row">
                            <img class="col s1"
                                 src="https://pic3.zhimg.com/v2-bc784912789de2dd3f9d9b02324b95b2_xl.jpg" alt="">
                            <div class="col s10">
                                <a>用户姓名</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="#eeeeee grey-text lighten-3">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</span>
                                <div style="margin-top: 20px" class="#eeeeee grey-text lighten-3">1995-04-02 13:11
                                    <span class="badge  #536dfe indigo-text accent-2">删除</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="section ">
                        <div class="row">
                            <img class="col s1"
                                 src="https://pic3.zhimg.com/v2-bc784912789de2dd3f9d9b02324b95b2_xl.jpg" alt="">
                            <div class="col s10">
                                <a>用户姓名</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="#eeeeee grey-text lighten-3">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</span>
                                <div style="margin-top: 20px" class="#eeeeee grey-text lighten-3">1995-04-02 13:11
                                    <span class="badge  #536dfe indigo-text accent-2">删除</span>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

        </div>
    </div>
</main>
<!-- 通用頁腳  -->
<footer style="min-width: 1200px" class="page-footer #00b0ff light-blue accent-3"
        th:include="layout/indexLayout::footer_layout"></footer>
<!-- 框架支持 -->
<div th:replace="layout/indexLayout::ImportJS"></div>
</body>
</html>