<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>系統 | 主頁</title>
    <!--Import Google Icon Font   http://fonts.useso.com/-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--引入网页logo-->
    <link rel="icon" type="image/x-icon" href="/img/logo/logo.png">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- 黏性頁腳支持 -->
    <style type="text/css" th:include="layout/indexLayout::footer_css"></style>
    <style type="text/css">


        .card .card-content {
            padding: 5px;
        }

        .material-icons {
            font-size: 12px;
        }

        #slider {
            z-index: 1;
            overflow: hidden;
        }

        #slider .slide {
            z-index: 10;
            position: absolute;
            width: 520px;
            top: 200px;
            overflow: hidden;
            cursor: default;
            text-align: left;

        }

        html {
            color: #e0e0e0;
        }

        .diapo{
            opacity: 1.7;
        }
        　
    </style>
</head>
<body style="min-width: 1200px"><!-- 页头 -->
<header th:include="layout/indexLayout::head_layout"></header>
<main>
    <br>
    <br>
    <h1 class="#e0e0e0 grey-text lighten-2">Yippee</h1>
    <br>
    <br>
    <div class="container">
        <div id="slider" style="width: 100%;height: 100%">
            <div class='slide'>
                <a href="http://www.baidu.com">
                    <img class='diapo' src="http://www.materializecss.cn/images/food/lorempixel4.jpg"></a>
                <div class='text'>1</div>
            </div>
            <div class='slide'>
                <a href="#">
                    <img class='diapo' border="0"
                         src="http://www.materializecss.cn/images/food/lorempixel4.jpg"></a>
                <div class='text'>2</div>
            </div>
            <div class='slide'>
                <a href="#">
                    <img class='diapo' border="0"
                         src="http://www.materializecss.cn/images/food/lorempixel4.jpg"></a>
                <div class='text'>3</div>
            </div>
            <div class='slide'>
                <a href="#">
                    <img class='diapo' border="0"
                         src="http://www.materializecss.cn/images/food/lorempixel4.jpg"></a>
                <div class='text'>4</div>
            </div>
            <div class='slide'>
                <a href="#">
                    <img class='diapo' border="0"
                         src="http://www.materializecss.cn/images/food/lorempixel4.jpg"></a>
                <div class='text'>5</div>
            </div>
            <div class='slide'>
                <a href="#">
                    <img class='diapo' border="0"
                         src="http://www.materializecss.cn/images/food/lorempixel4.jpg"></a>
                <div class='text'>6</div>
            </div>
        </div>
        <div class="row" style="height: 400px"></div>
    </div>
</main>
<!-- 通用頁腳  -->
<footer class="page-footer #00b0ff light-blue accent-3" th:include="layout/indexLayout::footer_layout"></footer>
<!-- 框架支持 -->
<div th:replace="layout/indexLayout::ImportJS"></div>
<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src="/js/shades/slider.js"></script>

<!-- loding模块 -->
<div id="loading" class="modal">
    <div class="progress">
        <div class="indeterminate"></div>
    </div>
</div>

</body>
</html>