<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>系統 | 歡迎</title>
    <!--Import Google Icon Font   http://fonts.useso.com/-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection"/>
    <!--引入网页logo-->
    <link rel="icon" type="image/x-icon" href="/img/logo/logo.png">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<!--<h1>歡迎</h1>-->
<!--<a href="/index">进入系统</a>-->
<header>
    <nav class="#3f51b5 indigo">
        <div class="container">
            <div class="nav-wrapper">
                <a href="index.html" class="brand-logo">Materialize</a>
                <ul class="right side-nav" id="nav-mobile">
                    <li class="hide-on-small-only"><a href="parallax.html"><i class="mdi-navigation-arrow-back"></i></a>
                    </li>
                </ul>
                <a class="button-collapse" href="#" data-activates='nav-mobile'><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</header>


<main>
    <!--  Parallax Section  -->
    <div class="parallax-container">
        <div class="parallax"><img src="http://www.materializecss.cn/images/parallax1.jpg"></div>
    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="header">视差</h2>
            <p class="grey-text text-darken-3 lighten-3">简介</p>
        </div>
        <div class="row container">
            <h4 class="light">简介</h4>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="http://www.materializecss.cn/images/parallax2.jpg"></div>
    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="header">视差</h2>
            <p class="grey-text text-darken-3 lighten-3">简介</p>
        </div>
        <div class="row container">
            <h4 class="light">简介</h4>
        </div>
    </div>
</main>


<!-- 框架支持 -->
<div th:replace="layout/indexLayout::ImportJS"></div>
<script type="text/javascript" src="/js/welcome.js"></script>
</body>
</html>